# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules and logs
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# History directory used by the extension
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/browser-sync.yml
/.browserslistrc
/.firebase/
firebase-debug.log
/karma.conf.js
/tslint.json

# System files
.DS_Store
Thumbs.db

# Environment files
/src/environments/*.ts

