/* src/components/Header/Header.module.css */

.navbarContent {
  min-width: 100%;
  header {
    min-width: 100%;
  }
}

.navbarBrand {
  margin-right: 1rem;
  height: 100%;
}

.navigationLinks {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.inputWrapper {
  max-width: 100%;
  height: 2.5rem;
}

.inputBase {
  font-size: 0.875rem; /* text-small equivalent */
}

.inputInnerWrapper {
  height: 100%;
  font-weight: normal;
  color: var(--nextui-colors-default-500);
  background-color: rgba(var(--nextui-colors-default-400), 0.2);
}

.inputInnerWrapperDark {
  background-color: rgba(var(--nextui-colors-default-500), 0.2);
}

.avatarButton {
  transition: transform 0.3s ease;
}

.header {
  min-width: 100%;
}
